                    /* General rules */
                    
                    * {
                        padding: 0;
                        margin: 0;
                    }
                    
                    body {
                        font-family: 'News Cycle', sans-serif;
                        background-color: #202833;
                    }
                    
                    .slider {
                        position: absolute;
                        height: 100vh;
                        width: 100%;
                        top: 0;
                        left: 0;
                        background-color: #0b0c10;
                        z-index: -1;
                    }
                    
                    img {
                        border-radius: 3px;
                    }
                    
                    p {
                        padding: 25px 10px 0px 10px;
                        position: relative;
                        bottom: 113%;
                        z-index: 3;
                        margin-left: auto;
                        margin-right: auto;
                        color: #c5c6c8;
                        text-align: center;
                    }
                    
                    .container-background {
                        background-image: linear-gradient(#00000080, #00000080), url('images/background.png');
                        background-repeat: none;
                        background-color: #0f292f;
                        background-size: cover;
                        background-position: center;
                        background-attachment: fixed;
                        margin: 20px;
                    }
                    
                    .main-heading,
                    .map-heading,
                    .images-heading,
                    .main-heading-1,
                    .contact-heading {
                        font-size: 1.4rem;
                        text-align: center;
                        color: #63fef0;
                        letter-spacing: 3px;
                        font-family: 'Prata', serif;
                        text-transform: uppercase;
                    }
                    
                    .map-heading,
                    .images-heading,
                    .contact-heading {
                        padding: 0px 0px 25px 0px;
                    }
                    /* Header */
                    
                    .main-heading {
                        font-size: 2rem;
                        padding: 25px 10px 0px 10px;
                        position: relative;
                        bottom: 105%;
                        z-index: 3;
                    }
                    
                    .main {
                        height: 100%;
                        width: 90%;
                        position: relative;
                    }
                    
                    .main::after {
                        content: "";
                        background: black;
                        width: 100%;
                        height: 90vh;
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0.5;
                    }
                    
                    .main .bg-image {
                        width: 100%;
                        height: 90vh;
                        object-fit: cover;
                    }
                    
                    section {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 90vh;
                    }
                    
                    .menu {
                        position: absolute;
                        top: 20%;
                        width: 100%;
                        z-index: 3;
                    }
                    
                    .navigation li {
                        list-style: none;
                        padding: 8px 0px;
                        border: 1px solid #66fcf1;
                        width: 300px;
                        text-align: center;
                        color: #c5c6c8;
                        margin: 2px 0px;
                        text-transform: uppercase;
                    }
                    
                    .navigation a {
                        text-decoration: none;
                        color: #c5c6c8;
                    }
                    
                    .navigation {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 20px 0px;
                    }
                    
                    .menu-heading {
                        display: flex;
                    }
                    
                    .slideshow {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0px 0px 10px 0px;
                        margin-left: auto;
                        margin-right: auto;
                        height: 200px;
                        width: 280px;
                        object-fit: cover;
                        overflow: hidden;
                        border-radius: 5%;
                    }
                    /* Map section */
                    
                    .map-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 0px 0px 20px 0px;
                    }
                    
                    .map {
                        margin: 25px 0px;
                    }
                    /* Images section */
                    
                    .images-container img {
                        display: flex;
                        align-content: flex-start;
                        width: 145px;
                        padding: 5px;
                    }
                    
                    .images-container {
                        display: flex;
                        justify-content: center;
                        padding: 15px 0px;
                    }
                    
                    .desktop-image-container {
                        display: flex;
                        justify-content: center;
                        padding: 15px 0px;
                        position: absolute;
                        top: 200px;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    
                    .desktop-image-container img {
                        display: flex;
                        align-content: flex-start;
                        width: 200px;
                        padding: 5px;
                    }
                    
                    .row-1,
                    .row-2 {
                        opacity: 0;
                    }
                    
                    .desk-row-1,
                    .desk-row-2,
                    .desk-row-3,
                    .desk-row-4 {
                        opacity: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    /* Nav bar drop down */
                    
                    .nav-bar {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 20px 0px;
                    }
                    /* .nav-bar-content {
                        display: none;
                        z-index: 1;
                        padding: 30px 0px;
                    }
                    
                    .nav-bar:hover .nav-bar-content {
                        display: block;
                    }
                     */
                    
                    .menu-icon {
                        opacity: 0;
                        /* position: relative;
                        right: 140px;
                        top: 10px;
                        z-index: 5; */
                    }
                    /* contact form */
                    
                    .contact-container {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        z-index: 5;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        top: -20%;
                    }
                    
                    .name-input,
                    .email-input,
                    .message-input {
                        margin: 10px 0px;
                        background-color: transparent;
                        width: 500px;
                        border: none;
                        outline: none;
                        border: 1px solid #66fcf1;
                        color: #c5c6c8;
                        padding: 8px 0px;
                        text-align: center;
                        font-family: 'News Cycle', sans-serif;
                        font-size: 1.2rem;
                    }
                    
                    .message-input {
                        resize: vertical;
                    }
                    
                    .email-button {
                        outline: none;
                        text-decoration: none;
                        transition: all .2s;
                        background: transparent;
                        padding: 8px 0px;
                        border: 1px solid #66fcf1;
                        width: 150px;
                        text-align: center;
                        color: #c5c6c8;
                        margin: 2px 0px;
                        font-size: 1.3rem;
                        text-transform: uppercase;
                    }
                    
                    .email-button:hover,
                    .send-button:hover {
                        transform: translateY(-3px);
                    }
                    
                    .email-button:hover {
                        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.61);
                        background: rgba(0, 0, 0, 0.329);
                        transform: translateY(-3px);
                        cursor: pointer;
                    }
                    
                    .email-button:active,
                    .send-button:active {
                        transform: translateY(1px);
                        transform: scale(1.5);
                    }
                    
                    .status {
                        color: #c5c6c8;
                        font-size: 25px;
                    }
                    
                    .message-input:hover {
                        background-color: rgba(0, 0, 0, 0.336);
                    }
                    
                    .name-input:hover {
                        background-color: rgba(0, 0, 0, 0.336);
                    }
                    
                    .email-input:hover {
                        background-color: rgba(0, 0, 0, 0.336);
                    }
                    
                    .message-input:active,
                    .message-input:focus,
                    .message-input:after {
                        transform: translateY(2px);
                        background-color: transparent;
                    }
                    
                    .name-input:active,
                    .name-input:focus,
                    .name-input:after {
                        transform: translateY(2px);
                        background-color: transparent;
                    }
                    
                    .email-input:active,
                    .email-input:focus,
                    .email-input:after {
                        transform: translateY(2px);
                        background-color: transparent;
                    }
                    /*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
                    
                    @media all and (min-width: 1024px) and (max-width: 12800px) {
                        .navigation {
                            flex-direction: row;
                        }
                        .navigation li {
                            width: 120px;
                            margin: 0px 10px;
                        }
                        .slideshow {
                            height: 350px;
                            width: 430px;
                        }
                        .main-heading {
                            bottom: 107%;
                        }
                        .menu {
                            top: 20%;
                        }
                        nav {
                            position: relative;
                            top: -40px;
                        }
                    }
                    
                    @media all and (min-width: 768px) and (max-width: 1024px) {
                        .navigation {
                            flex-direction: row;
                        }
                        .navigation li {
                            width: 120px;
                            margin: 0px 10px;
                        }
                        .slideshow {
                            height: 350px;
                            width: 430px;
                        }
                        .main-heading {
                            bottom: 107%;
                        }
                        .menu {
                            top: 20%;
                        }
                        nav {
                            position: relative;
                            top: -40px;
                        }
                    }
                    
                    @media all and (min-width: 480px) and (max-width: 768px) {
                        .name-input,
                        .email-input,
                        .message-input {
                            width: 450px;
                            font: 1rem;
                        }
                        .row-1 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            opacity: 1;
                        }
                        .row-2 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            opacity: 1;
                        }
                        .desk-row-1,
                        .desk-row-2,
                        .desk-row-3,
                        .desk-row-4 {
                            opacity: 0;
                        }
                        .desktop-image-container {
                            display: none;
                        }
                        .nav-bar {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            padding: 0px;
                        }
                        .nav-bar-content {
                            display: none;
                            z-index: 1;
                            padding: 30px 0px;
                        }
                        .nav-bar:hover .nav-bar-content {
                            display: block;
                        }
                        .menu-icon {
                            opacity: 1;
                            position: relative;
                            right: 140px;
                            top: 10px;
                            z-index: 5;
                        }
                    }
                    
                    @media all and (max-width: 480px) {
                        .slideshow {
                            height: 220px;
                            width: 300px;
                        }
                        .nav-bar {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            padding: 0px;
                        }
                        .nav-bar-content {
                            display: none;
                            z-index: 1;
                            padding: 30px 0px;
                        }
                        .nav-bar:hover .nav-bar-content {
                            display: block;
                        }
                        .menu-icon {
                            opacity: 1;
                            position: relative;
                            right: 140px;
                            top: 10px;
                            z-index: 5;
                        }
                        .row-1 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            opacity: 1;
                        }
                        .row-2 {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            opacity: 1;
                        }
                        .desk-row-1,
                        .desk-row-2,
                        .desk-row-3,
                        .desk-row-4 {
                            opacity: 0;
                        }
                        .name-input,
                        .email-input,
                        .message-input {
                            width: 300px;
                            font: 1rem;
                        }
                        .email-button {
                            font-size: 1rem;
                        }
                        .desktop-image-container {
                            display: none;
                        }
                    }