/* .navigation {
    flex-direction: row;
}

.navigation li {
    width: 200px;
    margin: 0px 10px;
}

.slideshow {
    height: 370px;
    width: 450px;
}

.main-heading {
    bottom: 107%;
}

.menu {
    top: 20%;
} */